.grade-title {
    text-align: center;
    align-content: center;
    font-size: 3em;
    font-family: "sans-serif";
    color: #21CE99;
}

.grade-text {
    font-size: 1em;
    font-family: "sans-serif";
    color: black;
}

.total-title {
    text-align: right;
    color: black;
}