.mainPage {
    text-align: center;
    align-content: center;
}

.mainPage p {
font-size: 6em;
}

.mainPage h1 {
    font-size: 3em;
}

.assPad {
    padding: 2em;
}

.assTitle {
    font-size: 2em;
}

.assText {
    font-size: 1em !important;
}

