.mainPage {
    text-align: center;
    align-content: center;
}

.mainPage p {
font-size: 6em;
}

.mainPage h1 {
    font-size: 3em;
}

.graph {
    font-size: 1em;
}

.assPad {
    padding: 2em;
}

.assTitle {
    font-size: 2em !important;
}

.assText {
    font-size: 1em !important;
}

button.link {
    background:none;
    border:none;
    color: black;
    font-size: 1em;
}