.mainRow {
    font-weight: bold;
    font-size: 1.2em;
}

.subHead {
    font-weight: bold;
    background-color: #c8e6c9 !important;
}

.subRow {
    font-weight: normal;
    background-color: #e8f5e9 !important;
}

.curveLabel {
    font-weight: bold;
}

.nameCell {
    cursor: pointer;
}