.mainRow {
    font-weight: bold;
    font-size: 1.2em;
}

.subRow {
    font-weight: normal;
    background-color: #B2FFE8 !important;
}

.curveLabel {
    font-weight: bold;
}

.nameCell {
    cursor: pointer;
}