.dbinfo {
//position: absolute;
//    height: 100vh;
    text-align: center;
    vertical-align: center;

}

.dbinfo p {
    padding-top: 4em;
    font-size: 6em;
}

.componentText {
    font-size: large;
    font-weight: normal;
    width: 100%;
}

.componentHeader {
    text-align: center;
    padding-bottom: 1em;
}

.compBg1 {
    background-color: #b2ffe8;
}

.compBg2 {
    background-color: #ecf7fb;
}