@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');

.newQuestion {
    background-color: #e8e8e8;
    color: white;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
}

.textArea {
    height: 15em;
}

.createDiscussion {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    color: #21CE99;
}

.text-editor {
    height: 20em;
    /*width: 40em;*/
    /*width: 100%;*/
}

.wrapper {
    width: 100%;
}
