.inside {
    padding: 1rem 1rem 0 1rem;
}

.accordBody {
    margin-bottom: 4rem;
}

.submitButton {
    background-color: #21CE99 !important;
    border-color: #21CE99 !important;
}

.divider {
    margin-top: 2em;
}