.createClassButton {
    background-color: #21CE99 !important;
    border-color: #21CE99 !important;
}

.google-button {
    background-color: #4285F4 !important;
    border-color: #4285F4 !important;
}

.quarter {
    margin-top: 75px;
    margin-left: 250px;

    min-width: 300px;
    max-width: 300px;
    padding: 10px;
}

.titleField {
    margin-bottom: 50px;
}

.inputField {
    margin-bottom: 20px;
}

.inputLabel {
    margin-bottom: 5px;

}