h1 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 1em;
    font-weight: bold;
}

p {
    font-size: large;
}

.bar {
    height: 4em;
    background-color: black;
}

.page-wrapper {

}

.page-section {
    text-align: center;
    align-content: center;
    display: grid;
    font-family: "Times New Roman";
    min-width: 40%;
    min-height: 40%;
}

.colA {
    //border: solid 2px green;
    align-content: center;
    height: 60vh;
}

.rowA {

}

.title {
    height: 100vh;
}

.about {
    height: 100vh;
}

.about p {
    padding-top: 3em;
    font-size: 10em;
    font-style: italic;
    font-family: "Baskerville Old Face";
}

/*Background picture*/
.titlePic {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

.titlePic img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}


.text {
    padding-top: 6em;
}

/*Pictures adjusted here*/
.student {
    align-content: center;
    width: 60%;
    height: auto;
}

.teacher {

    align-content: center;
    //overflow: hidden;
}

.administrator {
    width: 60%;
    height: auto;
    align-content: center;
    //overflow: hidden;
}

.scribe {
    height: 40vh;
    background-color: #ecf7fb;
}

/*Background colors*/
.stu {
    background-color: #c9e8f4;

}

.stu p {
    text-align: center;
}

.teach {

    background-color: #ecf7fb;
}

.admin {

    background-color: #c9e8f4;
}