.main {
    display: grid;
    align-content: center;
}

.row {
    height: 5em;
}



.link {
    text-decoration: none;
    color: black;
    align-content: space-between;
    text-align: center;
}

.link:hover {
    color: whitesmoke;
    text-decoration: none;
}