.main {
    justify-content: center;
    align-content: center;
}

.link {
    text-decoration: none;
    color: black;
    align-content: space-between;
    text-align: center;
}

.link:hover {
    color: darkgray;
    text-decoration: none;
}