h1 {
    text-align: center;
    font-weight: bold;
}

.page-section {
    text-align: center;
    align-content: center;
    display: grid;
    font-family: "Times New Roman";
}

.topBar {
    height: 6em;
    //border: solid 1px white;
    font-color: white;
    background-color: black;
}

.colBar {
    align-content: center;
    font-color: white;
}

.row {
    //border: solid 1px orange;
    font-family: "Times New Roman";
    font-weight: bold;
}

.col {
    //border: solid 2px green;
    background-color: #616D7E;
    align-content: center;
}

.text {
    padding-top: 6em;
}

.about {
    background-image: url("./Pictures/paperWood.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.about p {
    padding-top: 3em;
    font-size: 10em;
    font-weight: bold;

}

.student {
    background-image: url("./Pictures/Students.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    align-content: center;
    overflow: hidden;
}

.teacher {
    background-image: url("./Pictures/Teachers.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    align-content: center;
    overflow: hidden;
}

.title {
    height: 100vh;
}

.scribe {
    height: 40vh
}

.stu {
    background-color: dodgerblue;
    height: 40vh;
}

.teach {
    height: 40vh;
}