
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Indie+Flower');

.page-section {
    text-align: center;
    align-content: center;
    font-family: "Times New Roman";
}

.topBar {
    position: absolute;
    text-align: left;
    //position: sticky;
}

.para {
    font-size: large;
    font-weight: normal;
    font-family: 'Barlow Condensed', sans-serif;
    width: 100%;
}

.sectionTitle {
    text-align: center;
    padding-bottom: 1em;
    font-family: 'Indie Flower', cursive;
}


.title {
    height: 100vh;
}


.about {
    //position: absolute;
    height: 100vh;
    text-align: center;
    vertical-align: center;

}

.about p {
    padding-top: 4em;
    font-size: 6em;
    font-family: 'Indie Flower', cursive;
}

/*Background picture*/
.titlePic {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

.titlePic img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

/*Set padding for text columns*/
.text {
    padding: 5rem;;
}

/*Pictures adjusted here*/
.picture {
    width: 100%;
    height: auto;
}

/*Background colors*/
.bgOne {
    background-color: #ecf7fb;
}

.bgTwo {
    background-color: #c9e8f4;
}

.contact {
    width: 100%;
}