.homeworkTitle {
    font-size: 3em;
    text-align: center;
}

.modalText {
    font-size: 1.5em;
    text-align: center;
}

.makeSpace {
    height: 4em;
}

.moreSpace {
    height: 7em;
}

.pText {
    text-align: left;
    font-size: 2em;
}

.borderC {
//border: solid 1px red;
}

.modalStyle {
    position: absolute;
    top: 10vh;
    left: 20vw;
    right: 20vw;
    bottom: 10vh;
    border: 5px solid #21CE99;
    background: rgb(255, 255, 255);
    padding: 20px;
}

.modalInput {
    font-size: 2rem;
    line-height: 2;
    height: fit-content;
}

.submitButton {
    background-color: #21CE99 !important;
    border-color: #21CE99 !important;
    text-align: center;
}