.jumboTitle {
    font-size: 6rem;
    font-family: "Nunito",sans-serif;
    color: black !important;
}

.jumboSub {
    font-size: 2rem;
    font-family: "Nunito",sans-serif;
    color: black !important;
}

.jumboMini {
    font-size: 1rem;
    font-family: "Nunito",sans-serif;
    color: black !important;
}

.scoreMini {
    font-size: 1rem;
    font-weight: bolder;
    font-family: "Nunito",sans-serif;
    color: black !important;
}

.scoreMed {
    font-size: 2rem;
    font-weight: bolder;
    font-family: "Nunito",sans-serif;
    color: black !important;
}

.buttText {
    font-size: 3rem;
    font-weight: bold;
    font-family: "Nunito",sans-serif;
    color: white !important;
}

.mlBorder {
    border: black;
    border-style: solid;
}

.begButt {
    width: 15rem ;
    height: 5rem;
    font-size: 3rem;
}

.buttBack {
    background-color: #21CE99 !important;
}

.totalCenter {
    align-content: center;
}

.cardTitleHov
{
    font-size: 2.5rem;
    font-family: "Nunito",sans-serif;
    cursor: pointer;
    transition:.5s;
}

.cardTitleHov:hover
{
    font-size: 3.5rem;
    font-family: "Nunito",sans-serif;
    background-color: #d6b1d6;
}

.cardTitleHov2
{
    font-size: 2.5rem;
    font-family: "Nunito",sans-serif;
    cursor: pointer;
    transition:.5s;
}

.cardTitleHov2:hover
{
    font-size: 3.5rem;
    font-family: "Nunito",sans-serif;
    background-color: #b1d6b1;
}

.cardTitleHov3
{
    font-size: 2.5rem;
    font-family: "Nunito",sans-serif;
    cursor: pointer;
    transition:.5s;
}

.cardTitleHov3:hover
{
    font-size: 3.5rem;
    font-family: "Nunito",sans-serif;
    background-color: #b1b1d6;
}

.cardTitleHov4
{
    font-size: 2.5rem;
    font-family: "Nunito",sans-serif;
    cursor: pointer;
    transition:.5s;
}

.cardTitleHov4:hover
{
    font-size: 3.5rem;
    font-family: "Nunito",sans-serif;
    background-color: #e09f9c;
}

.cardTextStyle
{
    font-size: 1.75rem;
    font-family: "Nunito",serif;
}

.cardTitleScore1
{
    font-size: 4.5rem;
    font-family: "Nunito",sans-serif;
    background-color: #d6b1d6;
}

.cardTitleScore2
{
    font-size: 3.5rem;
    font-family: "Nunito",sans-serif;
    background-color: #b1d6b1;
}
