
.ContainerRules
{
    max-width: 100%;
    overflow-x: hidden;
}

.BannerRow
{
    background: #21CE99;
    color: #6C6A69;
    padding-left: 5rem;
}

.BannerCol
{
    padding-top: 2rem;

}

.Filler
{
    height: 2rem;
}

.RadioTitle
{
    font-size: 2rem;
}

.RadioLabel
{
    padding: 1.5rem;
    padding-left: 2.5rem;
    font-size: 1.5em;
    text-indent: 1.25rem;

}

.RadioButton
{
    height: 2rem;
    width: 2rem;
    margin: 1rem;
}