.ClassSelection
{
    height: 15rem;
}

option
{
    height: 3rem;
    font-size: large;
    border: solid thin;
}


.ContainerRules
{
    max-width: 100%;
    overflow-x: hidden;
}

.BannerRow
{
    background: #21CE99;
    color: #6C6A69;
    padding-left: 5rem;
}

.BannerCol
{
    padding-top: 2rem;

}

.Filler
{
    height: 2rem;
}

.deleteIcon
{
    font-size: 1.5rem;
    text-align-all: end;
    /*margin-top: 4rem;*/
    margin-right: 0.5rem;
    cursor: pointer;
}

.fa-save {
    font-size: 1.5rem;
}

.classroomButton
{
    margin-left: 0.5rem;
}

.accordBody
{
    margin-bottom: 4rem;
}

.codeText
{
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    text-align: right;
    color: grey;
}

.accordion {
    border: 3px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.accordion__title {
    background-color: #ddd;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
}

.accordion__title:hover {
    /*
    background-color: #ddd;
    */
    background-color: #21CE99;
    background-color: rgba(33, 206, 153, 0.2);
}

.hidden {
    visibility: hidden;
}

