.formpad {
    alignment: center;
}

.container {
    display: grid;
    justify-items: center;
}

.rowt {
    justify-items: left;
}

.rowSubmit {
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.colt {

    \\border: solid 1px red;
}

.titleRR {
    text-align: center;
    font-size: 2em;

    font-style: italic;


    font-weight: bolder;
}

.form {
    width: 100%;
    height: 100%;
}

.labelSize {
    font-weight: bold;
    font-size: 1em;
    font-family: "Times New Roman";
    justify-items: center;
}

.headerPic {
    text-align: center;
    \\align-content: center;
    display: grid;
    font-family: "Times New Roman";
    overflow: hidden;
    justify-items: center;
    position: relative;
}


