.returnButton {
    background-color: #21CE99 !important;
    border-color: #21CE99 !important;
}

.gradesText {
    font-size: 2em;
    text-decoration: none;
    color: #21CE99;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: #f5f5f5 !important;
}

.Absolute-Center.is-Responsive {
    width: 50%;
    height: 50%;
    min-width: 400px;
    max-width: 400px;
    padding: 10px;
}